<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePersistenceIgnoreState</key>
	<true/>
	<key>DVTFontAndColorLastUpdatedToolsVersion</key>
	<string>26.3</string>
	<key>DVTTextIndentTabWidth</key>
	<integer>4</integer>
	<key>DVTTextIndentWidth</key>
	<integer>4</integer>
	<key>DVTTextOverscrollAmount</key>
	<real>0.75</real>
	<key>DVTTextScopeGuidesDisplayStyle</key>
	<string>Active Only</string>
	<key>DVTTextShowCodeCoverageCounts</key>
	<false/>
	<key>DVTTextShowLineNumbers</key>
	<true/>
	<key>DVTTextShowMinimap</key>
	<false/>
	<key>DVTTextShowScopeGuides</key>
	<true/>
	<key>DVTTextWrappedLinesIndentWidth</key>
	<integer>1</integer>
	<key>DVTWorkspaceGlobalFontRecipe</key>
	<data>
	eyJkYXJrT3ZlcnJpZGVzIjpbInN0cmluZyIseyJmYW1pbHkiOnsiY3VzdG9tIjp7Il8w
	IjoiQmxleE1vbm8gTmVyZCBGb250In19LCJzaXplIjoxNSwidmFyaWFudCI6eyJpZGVu
	dGlmaWVyIjoiQmxleE1vbm9ORi1FeHRyYUxpZ2h0SXRhbGljIiwic2xhbnQiOnsidmFs
	dWUiOjAuMDY5NDQ0NDQwMzA1MjMzfSwid2VpZ2h0IjozLCJ3aWR0aCI6eyJ2YWx1ZSI6
	MH19fSwiY29tbWVudEVtcGhhc2l6ZWQiLHsiZmFtaWx5Ijp7ImN1c3RvbSI6eyJfMCI6
	IkJsZXhNb25vIE5lcmQgRm9udCJ9fSwic2l6ZSI6MTUsInZhcmlhbnQiOnsiaWRlbnRp
	ZmllciI6IkJsZXhNb25vTkYtVGV4dEl0YWxpYyIsInNsYW50Ijp7InZhbHVlIjowLjA2
	OTQ0NDQ0MDMwNTIzM30sIndlaWdodCI6NSwid2lkdGgiOnsidmFsdWUiOjB9fX1dLCJm
	b250R3JhbnVsYXJpdHkiOiJleHBhbmRlZCIsImZvbnRzIjpbeyJjb25zb2xlIjp7fX0s
	eyJjYXRlZ29yeSI6eyJjb25zb2xlIjp7fX0sImRpc3BsYXlNb2RlcyI6W3sic3RhbmRh
	cmQiOnt9fSx7ImNhdGVnb3J5Ijp7ImNvbnNvbGUiOnt9fSwiY29udGVudCI6eyJjdXN0
	b20iOnsiYXV0b21hdGljU2l6ZSI6ZmFsc2UsImRhcmsiOnsiZmFtaWx5Ijp7ImN1c3Rv
	bSI6eyJfMCI6IkJsZXhNb25vIE5lcmQgRm9udCJ9fSwic2l6ZSI6MTUsInZhcmlhbnQi
	OnsiaWRlbnRpZmllciI6IkJsZXhNb25vTkYtVGhpbiIsInNsYW50Ijp7InZhbHVlIjow
	fSwid2VpZ2h0IjoyLCJ3aWR0aCI6eyJ2YWx1ZSI6MH19fSwibGlnaHQiOnsiZmFtaWx5
	Ijp7ImN1c3RvbSI6eyJfMCI6IkJsZXhNb25vIE5lcmQgRm9udCJ9fSwic2l6ZSI6MTUs
	InZhcmlhbnQiOnsiaWRlbnRpZmllciI6IkJsZXhNb25vTkYtVGhpbiIsInNsYW50Ijp7
	InZhbHVlIjowfSwid2VpZ2h0IjoyLCJ3aWR0aCI6eyJ2YWx1ZSI6MH19fX19fV19LHsi
	cHJvc2UiOnt9fSx7ImNhdGVnb3J5Ijp7InByb3NlIjp7fX0sImRpc3BsYXlNb2RlcyI6
	W3sic3RhbmRhcmQiOnt9fSx7ImNhdGVnb3J5Ijp7InByb3NlIjp7fX0sImNvbnRlbnQi
	OnsiY3VzdG9tIjp7ImF1dG9tYXRpY1NpemUiOmZhbHNlLCJkYXJrIjp7ImZhbWlseSI6
	eyJjdXN0b20iOnsiXzAiOiJCbGV4TW9ubyBOZXJkIEZvbnQifX0sInNpemUiOjE1LCJ2
	YXJpYW50Ijp7ImlkZW50aWZpZXIiOiJCbGV4TW9ub05GLVRoaW5JdGFsaWMiLCJzbGFu
	dCI6eyJ2YWx1ZSI6MC4wNjk0NDQ0NDAzMDUyMzN9LCJ3ZWlnaHQiOjIsIndpZHRoIjp7
	InZhbHVlIjowfX19LCJsaWdodCI6eyJmYW1pbHkiOnsiY3VzdG9tIjp7Il8wIjoiQmxl
	eE1vbm8gTmVyZCBGb250In19LCJzaXplIjoxNSwidmFyaWFudCI6eyJpZGVudGlmaWVy
	IjoiQmxleE1vbm9ORi1UaGluSXRhbGljIiwic2xhbnQiOnsidmFsdWUiOjAuMDY5NDQ0
	NDQwMzA1MjMzfSwid2VpZ2h0IjoyLCJ3aWR0aCI6eyJ2YWx1ZSI6MH19fX19fV19LHsi
	Y29kZSI6e319LHsiY2F0ZWdvcnkiOnsiY29kZSI6e319LCJkaXNwbGF5TW9kZXMiOlt7
	InN0YW5kYXJkIjp7fX0seyJjYXRlZ29yeSI6eyJjb2RlIjp7fX0sImNvbnRlbnQiOnsi
	Y3VzdG9tIjp7ImF1dG9tYXRpY1NpemUiOmZhbHNlLCJkYXJrIjp7ImZhbWlseSI6eyJj
	dXN0b20iOnsiXzAiOiJCbGV4TW9ubyBOZXJkIEZvbnQifX0sInNpemUiOjE1LCJ2YXJp
	YW50Ijp7ImlkZW50aWZpZXIiOiJCbGV4TW9ub05GLUxpZ2h0Iiwic2xhbnQiOnsidmFs
	dWUiOjB9LCJ3ZWlnaHQiOjMsIndpZHRoIjp7InZhbHVlIjowfX19LCJsaWdodCI6eyJm
	YW1pbHkiOnsiY3VzdG9tIjp7Il8wIjoiQmxleE1vbm8gTmVyZCBGb250In19LCJzaXpl
	IjoxNSwidmFyaWFudCI6eyJpZGVudGlmaWVyIjoiQmxleE1vbm9ORi1UaGluIiwic2xh
	bnQiOnsidmFsdWUiOjB9LCJ3ZWlnaHQiOjIsIndpZHRoIjp7InZhbHVlIjowfX19fX19
	XX1dLCJsaW5lU3BhY2luZyI6eyJyZWxheGVkIjp7fX19
	</data>
	<key>DVTWorkspaceSavedRecipes</key>
	<data>
	W3siaWQiOiIzOEM3Mzk1Qi02NTA1LTRGRTMtQUVFQi1BQzJCOUI1NDA0MDQiLCJsYXN0
	VXNlZERhdGUiOjgwNDAxMTI3OS4yODc0NDIsIm5hbWUiOiJUaW1UciBOZXciLCJyZWNp
	cGUiOnsiYmFja2dyb3VuZCI6eyJjdXN0b21Db2xvciI6eyJfMCI6eyJ3cmFwcGVkIjp7
	Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjAxMTc2Mzkw
	NzQzODYzMjI1Nn19fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1
	ZSI6NC4yNDU2MjUwMTg5MTUzMjN9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6
	eyJfMCI6MC4xOTMwMDk3MTQ0MTc0OTM3M319fSwib3BhY2l0eSI6MX19fX19LCJjb2xv
	clNjaGVtZSI6eyJkYXJrIjp7fX0sInBhbGV0dGUiOnsiY29sb3JHcmFudWxhcml0eSI6
	ImV4cGFuZGVkIiwiY29sb3JPdmVycmlkZXMiOlsicHJvamVjdFR5cGUiLHsiY29sb3Ii
	OnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJleGFj
	dCI6eyJfMCI6MC4wNTIxNzY0Nzk5ODkyOTk3NjV9fX0sImdhbXV0Ijp7IlAzIjp7fX0s
	Imh1ZSI6eyJyYWRpYW5zVmFsdWUiOjMuNzMwOTUwMjcwMDY0MzAwN30sImxpZ2h0bmVz
	cyI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjY3ODk3MzU2ODc5MjYzMDJ9fX0sIm9w
	YWNpdHkiOjF9fX19fSwib3RoZXJUeXBlIix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQi
	Onsib2tsY2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMTc5MTAw
	Njc5NTQwMjAxfX19LCJnYW11dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVl
	IjoyLjkyNDkxNTcwNTY2NjEyOTV9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6
	eyJfMCI6MC44NDUzODcwMDM2MzI3MjExfX19LCJvcGFjaXR5IjoxfX19fX0sImtleXdv
	cmQiLHsiY29sb3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsi
	a2luZCI6eyJleGFjdCI6eyJfMCI6MC4wMDM1MjU3ODg0NjUxMTc0NDk1fX19LCJnYW11
	dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVlIjozLjQ2NTk4NzAwNjU3NjA2
	Mn0sImxpZ2h0bmVzcyI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjk5NzMyMjI5Njc3
	OTAxNzd9fX0sIm9wYWNpdHkiOjF9fX19fSwibnVtYmVyLmNoYXJhY3RlciIseyJjb2xv
	ciI6eyJfMCI6eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4
	YWN0Ijp7Il8wIjowLjEzNDIwMjI2OTk0MjU2NTY1fX19LCJnYW11dCI6eyJQMyI6e319
	LCJodWUiOnsicmFkaWFuc1ZhbHVlIjozLjUxNzE3MTE0NTM1MTQ2ODV9LCJsaWdodG5l
	c3MiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC44MDI2MDY3MjY0NjAyMjY4fX19LCJv
	cGFjaXR5IjoxfX19fX0sInBsYWluVGV4dCIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVk
	Ijp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjAwNDg5
	Nzg0NDI4MDQ1NjYyM319fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNW
	YWx1ZSI6NC4xMjk5MDEwODY3OTE2NDl9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFj
	dCI6eyJfMCI6MC44MDk4NDQzNDUwMTc4ODEyfX19LCJvcGFjaXR5IjoxfX19fX0sIm90
	aGVyTWVtYmVyLmNvbnN0YW50Iix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQiOnsib2ts
	Y2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMTc5MTAwNjc5NTQw
	MjAxfX19LCJnYW11dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVlIjoyLjky
	NDkxNTcwNTY2NjEyOTV9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6
	MC44NDUzODcwMDM2MzI3MjExfX19LCJvcGFjaXR5IjoxfX19fX0sInByb2plY3RNZW1i
	ZXIuZnVuY3Rpb24iLHsiY29sb3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJj
	aHJvbWEiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4wNTIxNzY0Nzk5ODkyOTk3NjV9
	fX0sImdhbXV0Ijp7IlAzIjp7fX0sImh1ZSI6eyJyYWRpYW5zVmFsdWUiOjMuNzMwOTUw
	MjcwMDY0MzAwN30sImxpZ2h0bmVzcyI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjY3
	ODk3MzU2ODc5MjYzMDJ9fX0sIm9wYWNpdHkiOjF9fX19fSwicHJlcHJvY2Vzc29yLm1h
	Y3JvU3lzdGVtIix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQiOnsib2tsY2giOnsiY2hy
	b21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMDczNDc5MzQzMTMwMzE5Nn19fSwi
	Z2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6NC43MTQ3ODcxMDg5
	Nzk3Njl9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC43NzkwNzU5
	Njc1MzcyNzg5fX19LCJvcGFjaXR5IjoxfX19fX0sInN0cmluZyIseyJjb2xvciI6eyJf
	MCI6eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7
	Il8wIjowLjI5MjcyNjE4NDcxNzYzODh9fX0sImdhbXV0Ijp7IlAzIjp7fX0sImh1ZSI6
	eyJyYWRpYW5zVmFsdWUiOjIuNDk0MTcxODc5NTQ5NzJ9LCJsaWdodG5lc3MiOnsia2lu
	ZCI6eyJleGFjdCI6eyJfMCI6MC44NDkzNDUwNjE2Mjk2ODg4fX19LCJvcGFjaXR5Ijox
	fX19fX0sImNvbW1lbnRFbXBoYXNpemVkIix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQi
	Onsib2tsY2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMTg4NDA1
	OTQxMjE5NTY2Mn19fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1
	ZSI6MS45OTc3MDcyODcxNjEyMzE4fSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3Qi
	OnsiXzAiOjAuOTMxOTg3MTk5NDU2MTkwN319fSwib3BhY2l0eSI6MX19fX19LCJwcm9q
	ZWN0TWVtYmVyLmNvbnN0YW50Iix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQiOnsib2ts
	Y2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMDUyMTc2NDc5OTg5
	Mjk5NzY1fX19LCJnYW11dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVlIjoz
	LjczMDk1MDI3MDA2NDMwMDd9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJf
	MCI6MC42Nzg5NzM1Njg3OTI2MzAyfX19LCJvcGFjaXR5IjoxfX19fX0sInByb2plY3RN
	ZW1iZXIudmFyaWFibGUiLHsiY29sb3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6
	eyJjaHJvbWEiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4wMzcxMTExMjAxODYyOTg5
	OTV9fX0sImdhbXV0Ijp7IlAzIjp7fX0sImh1ZSI6eyJyYWRpYW5zVmFsdWUiOjMuOTc0
	NDk1NzE2MzI1MTQyfSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAu
	NjEzNDQ4MzUzNTQxNTE2Mn19fSwib3BhY2l0eSI6MX19fX19LCJwcmVwcm9jZXNzb3Iu
	bWFjcm8iLHsiY29sb3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEi
	Onsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4wNzM0NzkzNDMxMzAzMTk2fX19LCJnYW11
	dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVlIjo0LjcxNDc4NzEwODk3OTc2
	OX0sImxpZ2h0bmVzcyI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjc3OTA3NTk2NzUz
	NzI3ODl9fX0sIm9wYWNpdHkiOjF9fX19fSwibWVtYmVyRGVjbGFyYXRpb24iLHsiY29s
	b3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJl
	eGFjdCI6eyJfMCI6MC4yMDEzOTY5OTg0NzEwNjUzNX19fSwiZ2FtdXQiOnsiUDMiOnt9
	fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6MC43Nzk3MDE3ODc4MDA0MjYzfSwibGlnaHRu
	ZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuNzAwMjE3ODgwMzE4NzE3M319fSwi
	b3BhY2l0eSI6MX19fX19LCJjb21tZW50Iix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQi
	Onsib2tsY2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMTEyODgx
	NjYyNTg4NTU3NDl9fX0sImdhbXV0Ijp7IlAzIjp7fX0sImh1ZSI6eyJyYWRpYW5zVmFs
	dWUiOjQuOTMxMTQ5MjE5NjQ1MzYyfSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3Qi
	OnsiXzAiOjAuNTY2NjQ3NTkzMjM3NTIzOX19fSwib3BhY2l0eSI6MX19fX19LCJ0eXBl
	RGVjbGFyYXRpb24iLHsiY29sb3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJj
	aHJvbWEiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4yMDEzOTY5OTg0NzEwNjUzNX19
	fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6MC43Nzk3MDE3
	ODc4MDA0MjYzfSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuNzAw
	MjE3ODgwMzE4NzE3M319fSwib3BhY2l0eSI6MX19fX19LCJwcm9qZWN0VHlwZS50eXBl
	Iix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQiOnsib2tsY2giOnsiY2hyb21hIjp7Imtp
	bmQiOnsiZXhhY3QiOnsiXzAiOjAuMDI1MTczOTI2MDIxODk0MzZ9fX0sImdhbXV0Ijp7
	IlAzIjp7fX0sImh1ZSI6eyJyYWRpYW5zVmFsdWUiOjUuMzE3MjAyNzg3MjA4NDIxfSwi
	bGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuODA1MDE2ODcwNDQ3OTA0
	NH19fSwib3BhY2l0eSI6MX19fX19LCJpbnNlcnRpb25Qb2ludENvbG9yIix7ImNvbG9y
	Ijp7Il8wIjp7IndyYXBwZWQiOnsib2tsY2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhh
	Y3QiOnsiXzAiOjQuMzU2MjA0NzQ3MzMwNDIyZS0wOX19fSwiZ2FtdXQiOnsiUDMiOnt9
	fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6Ni4xODkwMDUxNDI0MTMzODg1fSwibGlnaHRu
	ZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuOTk5OTk5OTk1NDcwMTc4M319fSwi
	b3BhY2l0eSI6MX19fX19LCJvdGhlck1lbWJlci52YXJpYWJsZSIseyJjb2xvciI6eyJf
	MCI6eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7
	Il8wIjowLjAwMzUyNTc4ODQ2NTExNzQ0OTV9fX0sImdhbXV0Ijp7IlAzIjp7fX0sImh1
	ZSI6eyJyYWRpYW5zVmFsdWUiOjMuNDY1OTg3MDA2NTc2MDYyfSwibGlnaHRuZXNzIjp7
	ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuOTk3MzIyMjk2Nzc5MDE3N319fSwib3BhY2l0
	eSI6MX19fX19LCJvdGhlclR5cGUudHlwZSIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVk
	Ijp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjAwMzUy
	NTc4ODQ2NTExNzQ0OTV9fX0sImdhbXV0Ijp7IlAzIjp7fX0sImh1ZSI6eyJyYWRpYW5z
	VmFsdWUiOjMuNDY1OTg3MDA2NTc2MDYyfSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhh
	Y3QiOnsiXzAiOjAuOTk3MzIyMjk2Nzc5MDE3N319fSwib3BhY2l0eSI6MX19fX19LCJw
	cm9qZWN0VHlwZS5jbGFzcyIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVkIjp7Im9rbGNo
	Ijp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjA1MjE3NjQ3OTk4OTI5
	OTc2NX19fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6My43
	MzA5NTAyNzAwNjQzMDA3fSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAi
	OjAuNjc4OTczNTY4NzkyNjMwMn19fSwib3BhY2l0eSI6MX19fX19LCJsaW5rIix7ImNv
	bG9yIjp7Il8wIjp7IndyYXBwZWQiOnsib2tsY2giOnsiY2hyb21hIjp7ImtpbmQiOnsi
	ZXhhY3QiOnsiXzAiOjAuMTQxMjE5MzIxMjUwMjQzNTZ9fX0sImdhbXV0Ijp7IlAzIjp7
	fX0sImh1ZSI6eyJyYWRpYW5zVmFsdWUiOjQuMTI0MDg3NzQwODIzMjMzfSwibGlnaHRu
	ZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuNzUzMTQzMDM0Njc5ODA5OX19fSwi
	b3BhY2l0eSI6MX19fX19LCJrZXl3b3JkLmF0dHJpYnV0ZSIseyJjb2xvciI6eyJfMCI6
	eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8w
	IjowLjEwMTY5NDgxNTMxMzI1ODg3fX19LCJnYW11dCI6eyJQMyI6e319LCJodWUiOnsi
	cmFkaWFuc1ZhbHVlIjozLjI3ODk1MjkyNjYxMDAxN30sImxpZ2h0bmVzcyI6eyJraW5k
	Ijp7ImV4YWN0Ijp7Il8wIjowLjY0MjMxODUyNjU5OTc0MDJ9fX0sIm9wYWNpdHkiOjF9
	fX19fSwib3RoZXJUeXBlLmNsYXNzIix7ImNvbG9yIjp7Il8wIjp7IndyYXBwZWQiOnsi
	b2tsY2giOnsiY2hyb21hIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuMTc5MTAwNjc5
	NTQwMjAxfX19LCJnYW11dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVlIjoy
	LjkyNDkxNTcwNTY2NjEyOTV9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJf
	MCI6MC44NDUzODcwMDM2MzI3MjExfX19LCJvcGFjaXR5IjoxfX19fX0sInNlbGVjdGVk
	VGV4dEJhY2tncm91bmRDb2xvciIseyJjb2xvciI6eyJfMCI6eyJfb3BhY2l0eSI6MSwi
	d3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6
	MC4xMDk1Nzk1NjYxMTI4NTk0OH19fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJh
	ZGlhbnNWYWx1ZSI6NC40OTM2Njc5OTEwODQ4OTQ1fSwibGlnaHRuZXNzIjp7ImtpbmQi
	OnsiZXhhY3QiOnsiXzAiOjAuMzMxODI2MDExNjAxNDU4OH19fSwib3BhY2l0eSI6MX19
	fX19LCJvdGhlck1lbWJlci5mdW5jdGlvbiIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVk
	Ijp7Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjAwNDk4
	NDI5MzcwNDA0Nzg2N319fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNW
	YWx1ZSI6NC4xMjk4OTg4ODYyODQ0MjF9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFj
	dCI6eyJfMCI6MC44MjI5MjU1MzE4Mjg1MTM2fX19LCJvcGFjaXR5IjoxfX19fX0sInBy
	ZXByb2Nlc3NvciIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNo
	cm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjE5NTc5MjQxMDUxMTgwNDJ9fX0s
	ImdhbXV0Ijp7IlAzIjp7fX0sImh1ZSI6eyJyYWRpYW5zVmFsdWUiOjUuMDEwMDQ0MDIz
	NTY1MDU4fSwibGlnaHRuZXNzIjp7ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuNjQ2MjEw
	ODM0MTE0Mzc4NH19fSwib3BhY2l0eSI6MX19fX19LCJudW1iZXIiLHsiY29sb3IiOnsi
	XzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJleGFjdCI6
	eyJfMCI6MC4xMzQyMDIyNjk5NDI1NjU2NX19fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVl
	Ijp7InJhZGlhbnNWYWx1ZSI6My41MTcxNzExNDUzNTE0Njg1fSwibGlnaHRuZXNzIjp7
	ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuODAyNjA2NzI2NDYwMjI2OH19fSwib3BhY2l0
	eSI6MX19fX19LCJvdGhlck1lbWJlciIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVkIjp7
	Im9rbGNoIjp7ImNocm9tYSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjAwNDk4NDI5
	MzcwNDA0Nzg2N319fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1
	ZSI6NC4xMjk4OTg4ODYyODQ0MjF9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6
	eyJfMCI6MC44MjI5MjU1MzE4Mjg1MTM2fX19LCJvcGFjaXR5IjoxfX19fX0sInN0cmlu
	Zy5yZWdleCIseyJjb2xvciI6eyJfMCI6eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNocm9t
	YSI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjA2NTYxNjEyMjk1OTc3MDMzfX19LCJn
	YW11dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVlIjozLjY5ODk3MTUwMjE3
	NDM4Njd9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC41Mjc2MzE0
	MzAyMTY1MjM1fX19LCJvcGFjaXR5IjoxfX19fX0sInByb2plY3RNZW1iZXIiLHsiY29s
	b3IiOnsiXzAiOnsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJl
	eGFjdCI6eyJfMCI6MC4wNTIxNzY0Nzk5ODkyOTk3NjV9fX0sImdhbXV0Ijp7IlAzIjp7
	fX0sImh1ZSI6eyJyYWRpYW5zVmFsdWUiOjMuNzMwOTUwMjcwMDY0MzAwN30sImxpZ2h0
	bmVzcyI6eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjY3ODk3MzU2ODc5MjYzMDJ9fX0s
	Im9wYWNpdHkiOjF9fX19fSwiY3VycmVudExpbmVIaWdobGlnaHQiLHsiY29sb3IiOnsi
	XzAiOnsiX29wYWNpdHkiOjEsIndyYXBwZWQiOnsib2tsY2giOnsiY2hyb21hIjp7Imtp
	bmQiOnsiZXhhY3QiOnsiXzAiOjAuMDAyMjkyNTAyMTIxOTA1NDYwNn19fSwiZ2FtdXQi
	OnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6MS44NjE1MDQxMjU4MzkyNDF9
	LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4xNTg2MDk3MDExMDUw
	MDY2fX19LCJvcGFjaXR5IjoxfX19fX0sImludmlzaWJsZXMiLHsiY29sb3IiOnsiXzAi
	Onsid3JhcHBlZCI6eyJva2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJleGFjdCI6eyJf
	MCI6Mi40NTkxNjY1ODU5MzIxMDU4ZS0wOH19fSwiZ2FtdXQiOnsiUDMiOnt9fSwiaHVl
	Ijp7InJhZGlhbnNWYWx1ZSI6MS41Njg2MjQ0ODQ5ODk5NTg0fSwibGlnaHRuZXNzIjp7
	ImtpbmQiOnsiZXhhY3QiOnsiXzAiOjAuNjU5NzUzOTUwMjczNjc2NH19fSwib3BhY2l0
	eSI6MX19fX19XSwicHJpbWFyeSI6eyJjdXN0b20iOnsiXzAiOnsid3JhcHBlZCI6eyJv
	a2xjaCI6eyJjaHJvbWEiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4wMDM1MjU3ODg0
	NjUxMTc0NDk1fX19LCJnYW11dCI6eyJQMyI6e319LCJodWUiOnsicmFkaWFuc1ZhbHVl
	IjozLjQ2NTk4NzAwNjU3NjA2Mn0sImxpZ2h0bmVzcyI6eyJraW5kIjp7ImV4YWN0Ijp7
	Il8wIjowLjk5NzMyMjI5Njc3OTAxNzd9fX0sIm9wYWNpdHkiOjF9fX19fSwic2Vjb25k
	YXJ5Ijp7ImN1c3RvbSI6eyJfMCI6eyJ3cmFwcGVkIjp7Im9rbGNoIjp7ImNocm9tYSI6
	eyJraW5kIjp7ImV4YWN0Ijp7Il8wIjowLjAxMTc2MzkwNzQzODYzMjI1Nn19fSwiZ2Ft
	dXQiOnsiUDMiOnt9fSwiaHVlIjp7InJhZGlhbnNWYWx1ZSI6NC4yNDU2MjUwMTg5MTUz
	MjN9LCJsaWdodG5lc3MiOnsia2luZCI6eyJleGFjdCI6eyJfMCI6MC4xOTMwMDk3MTQ0
	MTc0OTM3M319fSwib3BhY2l0eSI6MX19fX19fX19XQ==
	</data>
	<key>DVTWorkspaceThemeSettings</key>
	<data>
	eyJkYXJrIjp7InNhdmVkUmVjaXBlIjp7Il8wIjoiMzhDNzM5NUItNjUwNS00RkUzLUFF
	RUItQUMyQjlCNTQwNDA0In19LCJsaWdodCI6eyJkZWZhdWx0Ijp7fX19
	</data>
	<key>IDEAppearance</key>
	<integer>2</integer>
	<key>IDEBookmarkNavigatorDetailLevel</key>
	<integer>10</integer>
	<key>IDEDisableGitSupportForNewProjects</key>
	<true/>
	<key>IDEEditorCoordinatorTarget_Alternate</key>
	<string>PinnedEditorTab</string>
	<key>IDEEditorCoordinatorTarget_DoubleClick</key>
	<string>PinnedEditorTab</string>
	<key>IDEEditorCoordinatorUseTabsInsteadOfWindowsInFullscreen</key>
	<false/>
	<key>IDEIssueNavigatorDetailLevel</key>
	<integer>10</integer>
	<key>IDENavigatorRowSizeStyle</key>
	<integer>3</integer>
	<key>IDESearchNavigatorDetailLevel</key>
	<integer>10</integer>
	<key>IDETemplateCompletionDefaultPath</key>
	<string>/Users/timtr/Downloads</string>
	<key>IDEWorkspaceSuppressCleanBuildPrompt</key>
	<false/>
	<key>NSToolbar Configuration Xcode.IDEKit.Toolbar.Workspace.Customizable</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>Xcode.IDEKit.CustomToolbarItem.ToggleNavigator</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.RunStop</string>
			<string>Xcode.IDEKit.CustomToolbarItem.SplitViewDivider-0</string>
			<string>Xcode.IDEKit.CustomToolbarItem.BackForward</string>
			<string>Xcode.IDEKit.CustomToolbarItem.WindowTitle</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.RootChooser</string>
			<string>Xcode.IDEIntelligenceChat.CustomToolbarItem.NewConversation</string>
			<string>Xcode.IDEKit.CustomToolbarItem.SchemePicker.Centered</string>
			<string>Xcode.IDEKit.CustomToolbarItem.Issues</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.XcodeCloud.CustomToolbarItem.ToolbarItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.StatusCategories</string>
			<string>Xcode.IDEKit.CustomToolbarItem.AddEditor</string>
			<string>Xcode.IDEKit.CustomToolbarItem.EditorOptions</string>
			<string>Xcode.IDEKit.CustomToolbarItem.EditorMode</string>
			<string>Xcode.IDEKit.CustomToolbarItem.SplitViewDivider-1</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.ToggleInspector</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>Xcode.IDEKit.CustomToolbarItem.ToggleNavigator</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.RunStop</string>
			<string>Xcode.IDEKit.CustomToolbarItem.SplitViewDivider-0</string>
			<string>Xcode.IDEKit.CustomToolbarItem.BackForward</string>
			<string>Xcode.IDEKit.CustomToolbarItem.Bookmarks</string>
			<string>Xcode.IDEKit.CustomToolbarItem.WindowTitle</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEIntelligenceChat.CustomToolbarItem.NewConversation</string>
			<string>Xcode.IDEKit.CustomToolbarItem.SchemePicker.Centered</string>
			<string>Xcode.IDEKit.CustomToolbarItem.Issues</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.StatusCategories</string>
			<string>Xcode.IDEKit.CustomToolbarItem.AddEditor</string>
			<string>Xcode.IDEKit.CustomToolbarItem.EditorOptions</string>
			<string>Xcode.IDEKit.CustomToolbarItem.EditorMode</string>
			<string>Xcode.IDEKit.CustomToolbarItem.SplitViewDivider-1</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>Xcode.IDEKit.CustomToolbarItem.ToggleInspector</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>XCFontAndColorCurrentDarkTheme</key>
	<string>TimTr.xccolortheme</string>
	<key>Xcode3ProjectTemplateChooserAssistantSelectedTemplateSection</key>
	<string>Multiplatform</string>
</dict>
</plist>
